* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);

    font-family: "Inter", serif;
}
body {
    min-height: 100svh;
    background-color: var(--OffBlack);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card {
    width: 26rem;
    margin: 2rem;
    background-color: var(--DarkGrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    border-radius: 20px;
    padding-block: 40px;
    
}
.card img {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 30px;
}
.card .name {
    color: var(--White);
    font-size: 25px;
    padding-inline: 30px;
    
}

.card .address {
    color: var(--Green);
    font-size: .9rem;
    margin-block: 10px;
    padding-inline: 30px;
    font-weight: 700;
   
}
.card .detail {
    color: var(--White);
    margin-block: 20px;
    padding-inline: 22.5px;
}
.card .social {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--Grey);
    color: var(--White);
    margin-block: 10px;
    font-weight: 700;
}

.card .social:hover {
    background-color: var(--Green);
}
.attribution {
    color: var(--White);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    cursor: pointer;
    
}
.attribution a {
    text-decoration: none;
    color: var(--White);
}

@media  (max-width: 375px) {
    .main {
        margin-inline: 5%;
        margin-block: 20%;
    }
}